{% extends '@layout/default.html.twig' %}

{% block javascript %}
<script>
    window.app = {};
    window.app.baselayers = {{ baselayers | json_encode() | raw }};
    window.app.layers = {{ layers | json_encode() | raw }};
    window.app.baseUrl = '{{ baseUrl }}';
</script>
<script src="{{ asset('/js/mapper.min.js') }}"></script>
{% endblock %}

{% block content %}
<div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#baselayers" title="Baselayers" role="tab"><i class="far fa-map"></i></a></li>
            <li><a href="#layers" title="Layers" role="tab"><i class="fas fa-database"></i></a></li>
            <li><a href="#geocoder" title="Geocode" role="tab"><i class="fas fa-map-marker-alt"></i></a></li>
            <li class="disabled"><a href="#info" title="Info" role="tab"><i class="fas fa-info-circle"></i></a></li>
            <li class="d-none d-md-block"><a href="#draw" title="Draw" role="tab"><i class="fas fa-pencil-alt"></i></a></li>
        </ul>

        <ul role="tablist">
            <li><a href="#about" role="tab"><i class="far fa-question-circle"></i></a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
        {{ include('@app/partial/sidebar/baselayers.html.twig') }}
        {{ include('@app/partial/sidebar/layers.html.twig') }}
        {{ include('@app/partial/sidebar/geocoder.html.twig') }}
        {{ include('@app/partial/sidebar/info.html.twig') }}
        {{ include('@app/partial/sidebar/draw.html.twig') }}
        {{ include('@app/partial/sidebar/about.html.twig') }}
    </div>
</div>

<div id="map" class="sidebar-map">
</div>

{{ include("@app/partial/modal/layers.html.twig") }}

{% endblock %}
